@{
  ViewData["Title"] = "Ejercicios Fisicos";
}

<div class="text-center">
  <h1 class="display-4">Ejercicios Físicos</h1>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" class="btn btn-primary" onclick="NuevoRegistro()" data-bs-toggle="modal"
    data-bs-target="#ModalEjercicioFisico">
    Nuevo Registro
  </button>
</div>

<table class="table table-light table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Descripción</th>
      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
    </tr>
  </thead>
  <tbody id="tbody-EjerciciosFisicos">
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="ModalEjercicioFisico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <input type="hidden" id="EjercicioFisicoID" value="0" />
             <div class="mb-3 col-12">
              <label for="TipoEjercicioID" class="form-label">Tipo de Ejercicio</label>
              @Html.DropDownList("TipoEjercicioID", null, htmlAttributes: new { @class = "form-control" }) 
            </div> 

            <div class="mb-3 col-6">
              <label for="Inicio" class="form-label">Inicio</label>
              <input type="datetime-local" id="Inicio" class="form-control"
               
            </div>

            <div class="mb-3 col-6">
              <label for="EstadoEmocionalInicio" class="form-label">Estado Emocional Inicio</label>
              @Html.DropDownList("EstadoEmocionalInicio", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="mb-3 col-6">
              <label for="Fin" class="form-label">Fin</label>
              <input type="datetime-local" id="Fin" class="form-control"
               
            </div>

            <div class="mb-3 col-6">
              <label for="EstadoEmocionalFin" class="form-label">Estado Emocional Fin</label>
              @Html.DropDownList("EstadoEmocionalFin", null, htmlAttributes: new { @class = "form-control" })
            </div>
          </div>
        </form>
        <div class="mb-3">
              <label for="Observaciones" class="form-label">Observaciones</label>
              <textarea id="Observaciones" class="form-control" rows="3"></textarea>
            </div> 
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-cancel btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarEjerciciosFisicos()" class="btn btn-save btn-outline-primary" data-bs-dismiss="modal">Guardar</button>
      </div>
       
    </div>
  </div>
</div>



@section Scripts {
  <script src="~/js/EjercicioFisico.js"></script>
}

